[submodule "submodules/zepto"]
	path = submodules/zepto
	url = https://github.com/madrobby/zepto.git
[submodule "submodules/compass-recipes"]
	path = submodules/compass-recipes
	url = https://github.com/senchalabs/compass-recipes.git
