# Source and Build Files
demos/
etc/
extensions/
lib/jquery
src/
submodules/
test/
themes/
build/
archive/
.git*
.travis.xml
Gruntfile.coffee
sample.htaccess

# Temp Files
.~*
.sass-cache

# IDE and OS Files
**.sublime-project
**.sublime-workspace
.externalToolBuilders
.project
.settings
.DS_Store
