/**
 * @class Functions
 */
/**
 * Returns the minimum value of two specfied values
 * @param {measurement} $a The first value
 * @param {measurement} $b The second value
 */
/**
 * Returns the maximum value of two specfied values
 * @param {measurement} $a The first value
 * @param {measurement} $b The second value
 */
/**
 * @class Color
 */
/**
 * Returns the brightness (out of 100) of a specified color.
 * @todo explain why this is useful
 * @param {color} $color The color you want the brightness value of
 * @return {measurement}
 */
/**
 * Returns the luminosity for a specified color
 * @todo explain why this is useful
 * @param {color} The color to check
 * @return {measurement}
 */
/**
 * @class Pictos
 * More information on the Pictos icon set can be found [here](http://pictos.drewwilson.com/)
 * 
 * @todo add information about licencing
 */
/**
 * @cfg {color} $pictos-default-background
 * The default color of pictos icons when using the {@link #pictos} mixin.
 * 
 * Defaults to `white`.
 */
/**
 * @cfg {color} $pictos-default-border
 * The default color to use on the border of pictos icons, when using the {@link #pictos} mixin.
 * 
 * Defaults to `null`.
 */
/**
 * @cfg {string} $pictos-default-gradient
 * The default gradient to use when using the {@link #pictos} mixin.
 * 
 * Defaults to `matte`.
 */
/**
 * Includes a pictos icon into the specified selector, using the pictos font.
 * 
 *     @include pictos('a');
 * 
 * @param {color} $color
 * The color of the icon. Defaults to {@link #$pictos-default-background $pictos-default-background}.
 * 
 * @param {measurement} $size
 * The size of the icon
 * 
 * @param {color} $border-color
 * The color of the border. Defautls to {@link #$pictos-default-border $pictos-default-border}.
 * 
 * @param {boolean} $include-staes
 * True to include states for hover and active. Defaults to `true`.
 */
.base-pictos {
  font-family: Pictos;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  top: 0;
  left: 0;
}

/**
 * @class Background
 */
/**
 * Addes a background gradient into a specified selector.
 * 
 *     @include background-gradient(#444, 'glossy');
 * 
 * You can also use color-stops if you want full control of the gradient:
 * 
 *     @include background-gradient(#444, color-stops(#333, #222, #111));
 * 
 * @param {color} $bg-color
 * The base color of the gradient.
 * 
 * @param {string/list} $type
 * The style of the gradient, one of five pre-defined options: matte, bevel, glossy, recessed, or linear:
 *
 *     @include background-gradient(red, 'glossy');
 *
 * It can also accept a list of color-stop values:;
 * 
 *     @include background-gradient(black, color-stops(#333, #111, #000));
 * 
 * @param {string} $direction
 * The direction of the gradient.
 */
/**
 * Addes an emboss effect onto the specified selector
 * 
 *     @include emboss;
 * 
 * You can also specify the settings for the shadow and highlight:;
 * 
 *     @include emboss(red 0 0 5px, blue 0 1px 1px);
 * 
 * @param {color/list} $shadow The color and settings for the shadow (color xoffsetpx yoffsetpx blurpx)
 * @param {color/list} $highlight The color and settings for the highlight (color xoffsetpx yoffsetpx blurpx inset)
 */
/**
 * Addes a blueprint effect pattern to the specified selector.
 * Special thanks to Lea Verou http://leaverou.me/css3patterns/
 * 
 * @param {color} $bgcolor
 * @param {color} $majorcolor
 * @param {color} $minorcolor
 * @param {measurement} $majorsteps
 * @param {measurement} $minorsteps
 * @param {measurement} $majorwidth
 * @param {measurement} $minorwidth
 */
/**
 * Addes a stripe effect pattern to the specified selector.
 * Special thanks to Lea Verou http://leaverou.me/css3patterns/
 * 
 * @param {color} $bgcolor
 * @param {color} $stripe-color
 * @param {measurement} $majorsize
 * @param {measurement} $minorsize
 * @param {measurement} $angle
 */
/**
 * Addes a carbon fiber effect pattern to the specified selector.
 * Special thanks to Lea Verou http://leaverou.me/css3patterns/
 * 
 * @param {color} $bgcolor
 * @param {color} $dotcolor
 * @param {color} $highlightcolor
 * @param {measurement} $spacing-size
 * @param {measurement} $dotsize
 */
/**
 * @class Shapes
 * A bunch of Sass mixins which allow you to create various different shapes 
 * using only CSS.
 */
/**
 * Creates a triangle shape, using only CSS.
 * @param {string} $direction The direction of the triangle
 * @param {measurement} $size The size of the triangle
 * @param {color} $color The color of the triangle
 */
.base-shape {
  display: block;
  content: '';
}

* {
  margin: 0;
  padding: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

#jqt {
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  font-family: "Helvetica Neue", Helvetica;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
#jqt .selectable, #jqt input, #jqt textarea {
  -webkit-user-select: auto;
}
#jqt.notransform {
  -webkit-transform: none !important;
}
#jqt > * {
  -webkit-box-sizing: border-box;
  display: none;
  left: 0;
  min-height: 100%;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  z-index: 0;
}
#jqt > .current {
  display: block !important;
  z-index: 10;
}
#jqt .in, #jqt .out {
  -webkit-animation-duration: 250ms;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
}
#jqt .in {
  z-index: 10;
}
#jqt .out {
  z-index: 0 !important;
}
#jqt.supports3d {
  -webkit-perspective: 800;
  -webkit-transform-style: preserve-3d;
}
#jqt.supports3d > * {
  -webkit-transform: translate3d(0, 0, 0) rotate(0) scale(1);
}

/* Fade */
#jqt .fade.in {
  -webkit-animation-name: fadeIn;
}

#jqt .fade.out {
  -webkit-animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Disolve */
#jqt .dissolve.in {
  -webkit-animation-name: dissolveIn;
}

#jqt .dissolve.out {
  -webkit-animation-name: dissolveOut;
}

@-webkit-keyframes dissolveIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes dissolveOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Pop */
#jqt .pop.in {
  -webkit-animation-name: popIn;
}

#jqt .pop.out {
  -webkit-animation-name: popOut;
}

@-webkit-keyframes popIn {
  0% {
    -webkit-transform: scale(0.2);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes popOut {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.2);
    opacity: 0;
  }
}

/* Slide Left */
#jqt .slideleft.in {
  -webkit-animation-name: slideLeftIn;
}

#jqt .slideleft.out {
  -webkit-animation-name: slideLeftOut;
}

@-webkit-keyframes slideLeftIn {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes slideLeftOut {
  0% {
    -webkit-transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

/* Slide Right */
#jqt .slideright.in {
  -webkit-animation-name: slideRightIn;
}

#jqt .slideright.out {
  -webkit-animation-name: slideRightOut;
}

@-webkit-keyframes slideRightIn {
  0% {
    -webkit-transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes slideRightOut {
  0% {
    -webkit-transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(100%);
  }
}

/* Slide Up */
#jqt .slideup.in {
  z-index: 10;
  -webkit-animation-name: slideUpIn;
}

#jqt .slideup.out {
  z-index: 0;
  -webkit-animation-name: slideUpOut;
}

@-webkit-keyframes slideUpIn {
  0% {
    -webkit-transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes slideUpOut {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

/* Slide Down */
#jqt .slidedown.in {
  z-index: 0;
  -webkit-animation-name: slideDownIn;
}

#jqt .slidedown.out {
  z-index: 10;
  -webkit-animation-name: slideDownOut;
}

@-webkit-keyframes slideDownIn {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes slideDownOut {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(100%);
  }
}

/* Flip Left */
#jqt .flipleft {
  -webkit-backface-visibility: hidden;
}

#jqt .flipleft.in {
  -webkit-animation-name: flipLeftIn;
}

#jqt .flipleft.out {
  -webkit-animation-name: flipLeftOut;
}

@-webkit-keyframes flipLeftIn {
  0% {
    -webkit-transform: rotateY(180deg) scale(0.8);
  }

  100% {
    -webkit-transform: rotateY(0deg) scale(1);
  }
}

@-webkit-keyframes flipLeftOut {
  0% {
    -webkit-transform: rotateY(0deg) scale(1);
  }

  100% {
    -webkit-transform: rotateY(-180deg) scale(0.8);
  }
}

/* Flip Right */
#jqt .flipright {
  -webkit-backface-visibility: hidden;
}

#jqt .flipright.in {
  -webkit-animation-name: flipRightIn;
}

#jqt .flipright.out {
  -webkit-animation-name: flipRightOut;
}

@-webkit-keyframes flipRightIn {
  0% {
    -webkit-transform: rotateY(-180deg) scale(0.8);
  }

  100% {
    -webkit-transform: rotateY(0deg) scale(1);
  }
}

@-webkit-keyframes flipRightOut {
  0% {
    -webkit-transform: rotateY(0deg) scale(1);
  }

  100% {
    -webkit-transform: rotateY(180deg) scale(0.8);
  }
}

/* Swap Right */
#jqt .swapright {
  -webkit-animation-duration: .7s;
  -webkit-transform: perspective(800);
  -webkit-animation-timing-function: ease-out;
}

#jqt .swapright.in {
  -webkit-animation-name: swapRightIn;
}

#jqt .swapright.out {
  -webkit-animation-name: swapRightOut;
}

@-webkit-keyframes swapRightIn {
  0% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
    opacity: 0;
  }

  35% {
    -webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes swapRightOut {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    opacity: 1;
  }

  35% {
    -webkit-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
    opacity: .5;
  }

  100% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
    opacity: 0;
  }
}

/* Swap Left */
#jqt .swapleft {
  -webkit-animation-duration: .7s;
  -webkit-transform: perspective(800);
  -webkit-animation-timing-function: ease-out;
}

#jqt .swapleft.in {
  -webkit-animation-name: swapLeftIn;
}

#jqt .swapleft.out {
  -webkit-animation-name: swapLeftOut;
}

@-webkit-keyframes swapLeftIn {
  0% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
    opacity: 0;
  }

  35% {
    -webkit-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
    opacity: 1;
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
  }
}

@-webkit-keyframes swapLeftOut {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    opacity: 1;
  }

  35% {
    -webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
    opacity: .5;
  }

  100% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
    opacity: 0;
  }
}

/* Cube Left */
#jqt .cubeleft {
  -webkit-animation-duration: .55s;
}

#jqt .cubeleft.in {
  -webkit-transform-origin: 100% 50%;
  -webkit-animation-name: cubeLeftIn;
}

#jqt .cubeleft.out {
  -webkit-transform-origin: 0% 50%;
  -webkit-animation-name: cubeLeftOut;
}

@-webkit-keyframes cubeLeftIn {
  0% {
    -webkit-transform: rotateY(90deg) translateZ(100%) scale(0.5);
    opacity: .5;
  }

  100% {
    -webkit-transform: rotateY(0deg) translateZ(0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes cubeLeftOut {
  0% {
    -webkit-transform: rotateY(0deg) translateX(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotateY(-90deg) translateZ(100%) scale(0.5);
    opacity: .5;
  }
}

/* Cube Right */
#jqt .cuberight {
  -webkit-animation-duration: .55s;
}

#jqt .cuberight.in {
  -webkit-transform-origin: 0% 50%;
  -webkit-animation-name: cubeRightIn;
}

#jqt .cuberight.out {
  -webkit-transform-origin: 100% 50%;
  -webkit-animation-name: cubeRightOut;
}

@-webkit-keyframes cubeRightIn {
  0% {
    -webkit-transform: rotateY(-90deg) translateZ(100%) scale(0.5);
    opacity: .5;
  }

  100% {
    -webkit-transform: rotateY(0deg) translateZ(0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes cubeRightOut {
  0% {
    -webkit-transform: rotateY(0deg) translateX(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotateY(90deg) translateZ(100%) scale(0.5);
    opacity: .5;
  }
}

#jqt h1, #jqt h2 {
  font: bold 18px "Helvetica Neue", Helvetica;
  margin: 10px 20px 6px;
}
#jqt .toolbar {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 10px;
  height: 45px;
}
#jqt .toolbar > h1 {
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 10px;
  margin: 1px 0 0 -75px;
  height: 40px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#jqt .black-translucent .toolbar {
  margin-top: 20px;
}
#jqt.landscape .toolbar > h1 {
  margin-left: -125px;
  width: 250px;
}
#jqt .button, #jqt .back, #jqt .cancel, #jqt .add {
  position: absolute;
  overflow: hidden;
  width: auto;
  height: 30px;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  background: none;
  top: 8px;
  right: 10px;
  margin: 0;
  border-width: 0 5px;
  padding: 0 3px;
}
#jqt .back {
  left: 6px;
  right: auto;
  padding: 0;
  max-width: 55px;
  border-width: 0 8px 0 14px;
}
#jqt .blueButton {
  border-width: 0 5px;
}
#jqt .leftButton, #jqt .cancel {
  left: 6px;
  right: auto;
}
#jqt .add {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}
#jqt h1 + ul, #jqt h2 + ul, #jqt h3 + ul, #jqt h4 + ul, #jqt h5 + ul, #jqt h6 + ul {
  margin-top: 0;
}
#jqt ul {
  font: bold 18px "Helvetica Neue", Helvetica;
  padding: 0;
  margin: 15px 10px 17px 10px;
}
#jqt ul li {
  list-style-type: none;
  overflow: hidden;
  padding: 10px;
}
#jqt ul li a + a, #jqt ul li a + a + a, #jqt ul li.img a + a + a + a, #jqt ul li.img a + small + a + a + a {
  font: 13px "Helvetica Neue", Helvetica;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: 0;
}
#jqt ul li a + a {
  font-size: 14px;
}
#jqt ul li a, #jqt ul li.img a + a {
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: 12px 10px 12px 10px;
  margin: -10px;
}
#jqt ul li small {
  font: 17px "Helvetica Neue", Helvetica;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 23%;
  float: right;
  padding: 0;
}
#jqt ul li small.counter {
  font-size: 17px;
  line-height: 13px;
  font-weight: bold;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 4px 10px 5px 10px;
  display: block;
  width: auto;
  margin-top: -22px;
}
#jqt ul li input[type="text"], #jqt ul li input[type="password"], #jqt ul li input[type="tel"], #jqt ul li input[type="number"], #jqt ul li input[type="search"], #jqt ul li input[type="email"], #jqt ul li input[type="url"], #jqt ul li textarea, #jqt ul li select {
  background: transparent url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");
  border: 0;
  font: normal 17px "Helvetica Neue", Helvetica;
  padding: 0;
  display: inline-block;
  margin-left: 0px;
  width: 100%;
  -webkit-appearance: textarea;
}
#jqt ul li textarea {
  height: 120px;
  padding: 0;
  text-indent: -2px;
}
#jqt ul li select {
  text-indent: 0px;
  -webkit-appearance: textarea;
  margin-left: -6px;
  width: 104%;
}
#jqt ul li input[type="checkbox"], #jqt ul li input[type="radio"] {
  margin: 0;
  padding: 10px 10px;
}
#jqt ul li input[type="checkbox"]:after, #jqt ul li input[type="radio"]:after {
  content: attr(title);
  font: 17px "Helvetica Neue", Helvetica;
  display: block;
  width: 246px;
  color: #777;
  margin: -12px 0 0 17px;
}
#jqt ul li.arrow small {
  padding: 0 15px;
}
#jqt ul li.arrow small.counter {
  margin-right: 15px;
}
#jqt ul li.arrow a {
  padding: 12px 22px 12px 10px;
}
#jqt ul.rounded {
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
#jqt ul.rounded li:first-child, #jqt ul.rounded li:first-child a {
  border-top: 0;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
}
#jqt ul.rounded li:last-child, #jqt ul.rounded li:last-child a {
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
#jqt ul.form li {
  padding: 7px 10px;
}
#jqt ul.form li.error {
  border: 2px solid red;
}
#jqt ul.form li.error + #jqt ul.form li.error {
  border-top: 0;
}
#jqt ul.metal {
  border: 0;
  margin: 0;
}
#jqt ul.metal li {
  background-image: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #666;
  font-size: 26px;
}
#jqt ul.metal li a {
  line-height: 26px;
  margin: 0;
  padding: 13px 0;
}
#jqt ul.metal li em {
  display: block;
  font-size: 14px;
  font-style: normal;
  width: 50%;
  line-height: 14px;
}
#jqt ul.metal li small {
  float: right;
  position: relative;
  margin-top: 10px;
  font-weight: bold;
}
#jqt ul.metal li.arrow small {
  padding-right: 15px;
}
#jqt ul.edgetoedge {
  margin: 0;
  padding: 0;
}
#jqt ul.edgetoedge li {
  font-size: 20px;
}
#jqt ul.edgetoedge li.sep {
  font-size: 16px;
  padding: 2px 10px;
}
#jqt ul.edgetoedge li em {
  font-weight: normal;
  font-style: normal;
}
#jqt ul.plastic {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
#jqt ul.plastic li {
  border-width: 1px 0;
  border-style: solid;
  list-style-type: none;
  overflow: hidden;
}
#jqt ul.plastic li a.active.loading {
  background-image: url(img/loading.gif);
  background-position: 95% center;
  background-repeat: no-repeat;
}
#jqt ul.plastic li small {
  color: #888;
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}
#jqt ul.individual {
  border: 0;
  background: none;
  clear: both;
  overflow: hidden;
}
#jqt ul.individual li {
  font-size: 14px;
  text-align: center;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 48%;
  float: left;
  display: block;
  padding: 11px 10px 14px 10px;
}
#jqt ul.individual li + li {
  float: right;
}
#jqt ul.individual a {
  line-height: 16px;
  margin: -11px -10px -14px -10px;
  padding: 11px 10px 14px 10px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
#jqt .toggle {
  width: 94px;
  position: relative;
  height: 27px;
  display: block;
  overflow: hidden;
  float: right;
}
#jqt .toggle input[type="checkbox"] {
  margin: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 27px;
  overflow: hidden;
  width: 149px;
  border: 0;
  -webkit-transition: left 0.15s ease-in-out;
  transition: left 0.15s ease-in-out;
  position: absolute;
  top: 0;
  left: -55px;
  -webkit-appearance: textarea;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#jqt .toggle input[type="checkbox"]:checked {
  left: 0px;
}
#jqt .info {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444;
  padding: 15px;
  font-weight: bold;
}

body {
  background: #000;
  color: #ddd;
}

#jqt {
  /* Lists */
}
#jqt > * {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696c6f), color-stop(3%, #505355), color-stop(100%, #38393b));
  background-image: -webkit-linear-gradient(top, #696c6f, #505355 3%, #38393b);
  background-image: linear-gradient(top, #696c6f, #505355 3%, #38393b);
}
#jqt h1, #jqt h2 {
  color: #76797c;
  text-shadow: #2b2d2e 0 -1px 0;
}
#jqt .toolbar {
  border-bottom: 1px solid #000;
  background: -webkit-radial-gradient(#cc7a00 20%, rgba(255, 255, 255, 0) 21%) 0 0, -webkit-radial-gradient(#cc7a00 20%, rgba(255, 255, 255, 0) 21%) 4.5px 4.5px, -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0) 24%) 0 1px, -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0) 24%) 4.5px 5.5px;
  background-color: #ff9900;
  background-size: 9px 9px;
}
#jqt .toolbar > h1 {
  color: black;
  text-shadow: #ffad33 0 1px 0;
}
#jqt .button, #jqt .back, #jqt .cancel, #jqt .add {
  padding: 0 10px;
  color: black;
  text-shadow: #ffad33 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0;
  border: 1px solid #995c00;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-image: none;
  background-color: #ff9900;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffb84d), color-stop(50%, #ffa31a), color-stop(51%, #ff9900), color-stop(100%, #e68a00));
  background-image: -webkit-linear-gradient(top, #ffb84d, #ffa31a 50%, #ff9900 51%, #e68a00);
  background-image: linear-gradient(top, #ffb84d, #ffa31a 50%, #ff9900 51%, #e68a00);
}
#jqt .button.active, #jqt .cancel.active, #jqt .add.active {
  color: white;
  text-shadow: #015791 0 -1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0;
  border: 1px solid #00385f;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-image: none;
  background-color: #0175c4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #149ffe), color-stop(50%, #0184dd), color-stop(51%, #0175c4), color-stop(100%, #0166ab));
  background-image: -webkit-linear-gradient(top, #149ffe, #0184dd 50%, #0175c4 51%, #0166ab);
  background-image: linear-gradient(top, #149ffe, #0184dd 50%, #0175c4 51%, #0166ab);
}
#jqt .back {
  -webkit-border-image: url(../img/jqt/back_button.png) 0 8 0 14;
}
#jqt .back.active {
  -webkit-border-image: url(../img/jqt/back_button_clicked.png) 0 8 0 14;
}
#jqt .blueButton {
  -webkit-border-image: url(../img/jqt/blueButton.png) 0 5 0 5;
}
#jqt .whiteButton, #jqt .grayButton, #jqt .redButton, #jqt .blueButton, #jqt .greenButton {
  border-width: 0 12px;
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  text-decoration: inherit;
  text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}
#jqt .whiteButton.active, #jqt .whiteButton:active, #jqt .grayButton.active, #jqt .grayButton:active, #jqt .redButton.active, #jqt .redButton:active, #jqt .blueButton.active, #jqt .blueButton:active, #jqt .greenButton.active, #jqt .greenButton:active {
  -webkit-border-image: url(../img/jqt/activeButton.png) 0 12 0 12;
  color: #000 !important;
}
#jqt .whiteButton {
  -webkit-border-image: url(../img/jqt/whiteButton.png) 0 12 0 12;
}
#jqt .grayButton {
  -webkit-border-image: url(../img/jqt/grayButton.png) 0 12 0 12;
  color: #fff;
}
#jqt .redButton {
  -webkit-border-image: url(../img/jqt/redButton.png) 0 12 0 12;
}
#jqt .greenButton {
  -webkit-border-image: url(../img/jqt/greenButton.png) 0 12 0 12;
}
#jqt ul {
  color: #aaa;
  border: 1px solid #121314;
  color: white;
  text-shadow: #2b2d2e 0 -1px 0;
  /* Rows with image thumbnail */
}
#jqt ul li {
  border-top: 1px solid #38393b;
  background-image: none;
  background-color: rgba(68, 70, 72, 0.2);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(105, 108, 111, 0.2)), color-stop(30%, rgba(88, 90, 93, 0.2)), color-stop(65%, rgba(68, 70, 72, 0.2)), color-stop(100%, rgba(53, 55, 56, 0.2)));
  background-image: -webkit-linear-gradient(top, rgba(105, 108, 111, 0.2), rgba(88, 90, 93, 0.2) 30%, rgba(68, 70, 72, 0.2) 65%, rgba(53, 55, 56, 0.2));
  background-image: linear-gradient(top, rgba(105, 108, 111, 0.2), rgba(88, 90, 93, 0.2) 30%, rgba(68, 70, 72, 0.2) 65%, rgba(53, 55, 56, 0.2));
}
#jqt ul li a {
  color: white;
  text-shadow: #2b2d2e 0 -1px 0;
}
#jqt ul li ::-webkit-input-placeholder {
  color: #828689;
  text-shadow: #2b2d2e 0 -1px 0;
}
#jqt ul li input[type="text"], #jqt ul li input[type="password"], #jqt ul li input[type="tel"], #jqt ul li input[type="number"], #jqt ul li input[type="search"], #jqt ul li input[type="email"], #jqt ul li input[type="url"], #jqt ul li textarea, #jqt ul li select {
  color: white;
  text-shadow: #2b2d2e 0 -1px 0;
}
#jqt ul li select {
  background: transparent url(../img/jqt/chevron.png) no-repeat right center;
}
#jqt ul li input[type="checkbox"], #jqt ul li input[type="radio"] {
  margin: 0;
  padding: 10px 10px;
}
#jqt ul li input[type="checkbox"]:after, #jqt ul li input[type="radio"]:after {
  content: attr(title);
  font: 17px "Helvetica Neue", Helvetica;
  display: block;
  width: 246px;
  color: #777;
  margin: -12px 0 0 17px;
}
#jqt ul li .toggle input[type="checkbox"] {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: white url(../img/jqt/on_off.png) 0 0 no-repeat;
}
#jqt ul li input[type='submit'] {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#9c9ea0));
  border: 1px outset black;
  display: block;
  font-size: inherit;
  font-weight: inherit;
  padding: 10px;
}
#jqt ul li a.active, #jqt ul li a.button {
  background-image: none;
  background-color: #0175c4;
  color: white;
  text-shadow: #015791 0 -1px 0;
}
#jqt ul li.forward {
  position: relative;
}
#jqt ul li.forward:after {
  content: '';
  background-image: url(../img/jqt/chevron_circle.png);
  background-position: right center;
  background-repeat: no-repeat;
  width: 40px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
#jqt ul li.arrow {
  position: relative;
}
#jqt ul li.arrow:after {
  content: '';
  background-image: url(../img/jqt/chevron.png);
  background-position: right center;
  background-repeat: no-repeat;
  width: 40px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
#jqt ul li.arrow a.active {
  background-image: url(../img/jqt/chevron.png);
  background-position: right center;
  background-repeat: no-repeat;
}
#jqt ul li a.active.loading {
  background-image: url(../img/jqt/loading.gif);
  background-position: 95% center;
  background-repeat: no-repeat;
}
#jqt ul li.arrow small {
  padding: 0 15px;
}
#jqt ul li small {
  color: #64c114;
}
#jqt ul li small.counter {
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 4px 10px 5px 10px;
  display: block;
  width: auto;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0;
}
#jqt ul li li.arrow small.counter {
  margin-right: 15px;
}
#jqt ul.rounded {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;
}
#jqt ul.metal li {
  background-image: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #666;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#9c9ea0));
}
#jqt ul.metal li a {
  text-shadow: #fff 0 1px 0;
}
#jqt ul.metal li a.active {
  color: #000;
}
#jqt ul.metal li em {
  color: #444;
}
#jqt ul.metal li.arrow {
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url(../img/jqt/chevron.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#9c9ea0));
}
#jqt ul.edgetoedge li {
  background-image: none;
  background-color: #2b2d2e;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #121314), color-stop(100%, #1f2021));
  background-image: -webkit-linear-gradient(top, #121314, #1f2021);
  background-image: linear-gradient(top, #121314, #1f2021);
  border-bottom: 1px solid #0e0e0e;
  border-top: 1px solid #242526;
}
#jqt ul.edgetoedge li.sep {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(38, 38, 38, 0.3)), color-stop(30%, rgba(20, 20, 20, 0.3)), color-stop(65%, rgba(0, 0, 0, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  background-image: -webkit-linear-gradient(top, rgba(38, 38, 38, 0.3), rgba(20, 20, 20, 0.3) 30%, rgba(0, 0, 0, 0.3) 65%, rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(top, rgba(38, 38, 38, 0.3), rgba(20, 20, 20, 0.3) 30%, rgba(0, 0, 0, 0.3) 65%, rgba(0, 0, 0, 0.3));
  color: #3e9ac3;
}
#jqt ul.plastic li {
  background-image: none;
  background-color: #1a1b1b;
  border-top-color: #1f2021;
  border-bottom-color: #121314;
}
#jqt ul.plastic li:nth-child(odd) {
  background-image: none;
  background-color: #1f2021;
}
#jqt ul.plastic li a.active.loading {
  background-image: url(../img/jqt/loading.gif);
  background-position: 95% center;
  background-repeat: no-repeat;
}
#jqt ul.individual {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#jqt ul.individual li {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px;
  border: 1px solid #1f2021;
}
#jqt ul li.img a + a {
  margin: -10px 10px -20px -5px;
  font-size: 17px;
  font-weight: bold;
}
#jqt ul li.img a + a + a {
  font-size: 14px;
  font-weight: normal;
  margin-left: -10px;
  margin-bottom: -10px;
  margin-top: 0;
}
#jqt ul li.img a + small + a {
  margin-left: -5px;
}
#jqt ul li.img a + small + a + a {
  margin-left: -10px;
  margin-top: -20px;
  margin-bottom: -10px;
  font-size: 14px;
  font-weight: normal;
}
#jqt ul li.img a + small + a + a + a {
  margin-left: 0px !important;
  margin-bottom: 0;
}
#jqt .info {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cccccc), to(#aaaaaa), color-stop(0.6, #cccccc));
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  color: #444;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
