* {
    margin: 0;
    padding: 0;
}

a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}

#jqt {
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    font-family: "Helvetica Neue", Helvetica;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;

    .selectable, input, textarea {
        -webkit-user-select: auto;
    }

    &.notransform {
        -webkit-transform: none !important;
    }

    // Card style
    > * {
        -webkit-box-sizing: border-box;
        display: block;
        left: 0;
        min-height: 100%;
        overflow-x: hidden;
        position: absolute;
        width: 100%;
        z-index: 0;
        -webkit-box-orient: vertical;
        -webkit-box-pack: start;
        -webkit-box-align: stretch;
    }

    > .current {
        z-index: 10;
    }

    > :not(.current) {
        display: none;
    }

    &:not(.unfixed) > :not(.unfixed) {
        min-height: 100%;
        height: 100%;
        overflow-y: hidden;
    }
    
    &:not(.unfixed) > :not(.unfixed) {
        display: -webkit-box; display: box;
    }
    
    &:not(.unfixed) > :not(.unfixed):not(.current) {
        display: none;
    }
    
    &:not(.unfixed) > :not(.unfixed) > .view,
    &:not(.unfixed) > :not(.unfixed) > :only-child {
        position: relative;
        display: -webkit-box; display: -moz-box; display: box;
        -webkit-box-orient: vertical; -moz-box-orient: vertical; box-orient: vertical;
        -webkit-box-pack: start; -moz-box-pack: start; box-pack: start;
        -webkit-box-align: stretch; -moz-box-align: stretch; box-align: stretch;
        -webkit-box-flex: 10; -moz-box-flex: 10; box-flex: 10;
        bottom: 0; left: 0; right: 0;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .in, .out {
        -webkit-animation-duration: 250ms;
        -webkit-animation-fill-mode: both;
        -webkit-animation-timing-function: ease-in-out;
    }

    .in {
        z-index: 10;
    }
    .out {
        z-index: 0 !important;
    }

    &.supports3d {
        -webkit-perspective: 800;
        -webkit-transform-style: preserve-3d;

        & > * {
            -webkit-transform: translate3d(0,0,0) rotate(0) scale(1);
        }
    }
}