// Disable everything but WebKit
$experimental-support-for-mozilla: false;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;
$experimental-support-for-khtml: false;

// iOS5 only:
// $support-for-original-webkit-gradients: false;

// Color tests
$red-color: #D83B38 !default;
$green-color: #53b401 !default;
$gray-color: #444 !default;
$white-color: #eee !default;
$blue-color: #2F7CE3 !default;

// Default colors
$base-color: #555658 !default;
$body-color: rgb(0,0,0) !default;
$highlight-color: #53b401 !default; // bright green
$toolbar-background-color: darken($base-color, 15%) !default;
$page-background-color: $base-color !default;
$list-background-color: $page-background-color !default;
$toolbar-button-color: darken($toolbar-background-color, 15%) !default;
$toolbar-button-active-color: darken($toolbar-button-color, 5%) !default;
$base-font-family: "Helvetica Neue", Helvetica !default;
$base-font: bold 18px $base-font-family !default;
$base-button-gradient: glossy !default;
$default-border-radius: 8px !default;

// Optimization variables
$include-metal-lists: true !default;
$include-plastic-lists: true !default;
$include-forms: true !default;
$include-edge-lists: true !default;
$include-animations: true !default;
$include-3d-animations: true !default;
$include-highlights: true !default;
$include-back-arrow: true !default;

@import 'compass';
@import 'recipes';
@import 'include/base';
@import 'include/animations';
@import 'include/skeleton';