/*
iPhone Guidelines - full screen
                 Portrait     Landscape
Status Bar.......  20px         20px    No change in heigth due to orientation.
Navigation Bar...  44px         32px
Tool Bar.........  44px         32px
Tab Bar..........  49px         49px    No change in heigth due to orientation.
Source: http://developer.apple.com/iphone/library/documentation/userexperience/conceptual/mobilehig/SpecialViews/SpecialViews.html

Height between a navigation bar and tool and/or tab bar
Tool Bar
  Profile:   416px (480 - 20 - 44)
  Landscape: 268px (320 - 20 - 32)
Tab Bar
  Profile:   411px (480 - 20 - 49)
  Landscape: 251px (320 - 20 - 49)
Tool & Tab Bar
  Profile:   367px (480 - 20 - 44 - 49)
  Landscape: 219px (320 - 20 - 32 - 49)

*/

* {outline: none !important;}

/* @group tabbar */
#tabbar {
  -webkit-box-shadow: 0 -0.05em 0 rgba(0,0,0,0.9);
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000), color-stop(.01, #000), color-stop(.02, #555), color-stop(.03, #2d2d2d), color-stop(.5, #151515), color-stop(.51, #000));
  bottom: 0;
  display: display:none !important; /* initially hidden */
  height: 3.0625em !important;
  margin: 0;
  padding: .1em 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

/* @group fixed tabbar */

#tabbar table {
  border-collapse: collapse;
  width: 100%;
}

#tabbar table td {min-width: 3.25em;}

#tabbar table.two td {width: 50%;}

#tabbar table.three td {width: 33.3333%;}

#tabbar table.four td {width: 25%;}

#tabbar table.five td {width: 20%;}

#tabbar table.six td {width: 16.6667%;}

#tabbar table.seven td {width: 14.2857%;} /* iPad only */

/* @end */

/* @group horizontaly scrolling tabbar */

#tabbar table.hScroll {width: 200%;}

#tabbar table.hScroll td {min-width: 4.5em;}

/* @end */

#tabbar a {
  border-radius: .25em;
  display: inline-block;
  height: 2.75em;
  margin: 0 auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  top: .125em;
  vertical-align: middle;
  width: 100%;
}

#tabbar a > strong {
  -webkit-font-smoothing: antialiased;
  bottom: 0;
  color: #787878;
  font: bold .6em "Helvetica Neue", Helvetica;
  line-height: 1.75em;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

#tabbar a::after,
#tabbar a::before {
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: -1em;
}

#tabbar a::before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.6)), to(rgba(255,255,255,.3)));
  z-index: 1;
}

#tabbar a::after {
  background-color: rgba(0,0,0,.75);
  z-index: 0;
}

#tabbar a.enabled {
  background-color: rgba(255,255,255,.10);
}

#tabbar a.enabled > strong {
  color: #FFF;
}

#tabbar a.enabled::before {
/* defined in extension themes */
}

#tabbar a.about::after,
#tabbar a.about::before {
/* build dynamicall in jqt.bars.js */
}

/* @group badge for tabbar */

#tabbar .badge {
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 1.0);
  -webkit-border-radius: .8em;
    background-image: -webkit-gradient(radial, 50% -130%, 25, 50% 0, 54, color-stop(2%, rgba(255,255,255,0.3)), color-stop(4%, rgba(31,31,31,0.1)), color-stop(38%, rgba(239,239,239,0.1)));
  background-color: #ff0000;
  border: .2em solid #fff;
  color: #fff;
  display: block;
  font: bold .72em "Helvetica Neue", Helvetica;
  height: 1.1em;
  line-height: 1em;
  min-width: .5em;
  overflow: hidden;
  padding: .1em .4em;
  position: absolute;
  text-align: center;
  text-shadow: 0px -1em 1em rgba(0, 0, 0, 0.3);
  top: -.1em;
  vertical-align: middle;
  z-index: 3;
}

#tabbar .badge.left {
  left: auto;
  right: 55%;
}

#tabbar .badge.right {
  left: 55%;
  right: auto;
}

/* @end */
/* @end */