/* @group Action Sheet */

#jqt > .transition {
    -webkit-transition-property: translateY, opacity, background-color;
    -webkit-transition-duration: 250ms;
    -webkit-transition-fill-mode: both;
    -webkit-transition-timing-function: ease-in-out;
}

#jqt > *::after {
    display: none;
    z-index: 0;
    position: absolute;
    content: "";
    top: 0; bottom: 0; left: 0; right: 0;
}

#jqt.actionopened > .current:not(.actionsheet)::after {
    display: block;
    background-color: rgba(63, 63, 63, 0.6);
    z-index: 0;
}

#jqt > .actionsheet {
    height: 100%; min-height: 100%;
    background-color: transparent;
    background-image: none;
    -webkit-transform: translateY(90%);  
    z-index: 30;
}

#jqt > .actionsheet.current {
    -webkit-transform: translateY(0);
    opacity: 1;
}

#jqt > .actionsheet > div.actionchoices {
    position: absolute;
    top: auto; bottom: 0px;
    left: 0px; right: 0px;
    padding-bottom: 10px;
    border-top: 1px solid #333;
    background-color: rgba(0, 0, 0, 0.25);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(160, 168, 172, 0.75)), color-stop(0.08, rgba(112, 120, 128, 0.5)), color-stop(0.08, rgba(96, 102, 114, 0.5)), to(rgba(96, 102, 114, 0.5)));
}

#jqt > div.actionsheet > div.actionchoices > a {
    margin-top: 25px;
}

#jqt > div.actionsheet > div.actionchoices > a.dismiss {
    margin-top: 30px;
}

#jqt > div.actionsheet > div.actionchoices::before {
    display: block;
    position: relative;
    height: 10px;
    content: "";
    border-top: 1px solid #CCC;
    width: 100%;
}

/* @end */
