/* @group Modal */

#jqt > .current::after {
	/* semi-transparent overlay */
    display: none;
    z-index: 0;
    position: absolute;
    content: "";
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(63, 63, 63, 0.6);
    opacity: 0;
    -webkit-transition: opacity 375ms ease-out;
}

#jqt.modal > .current::after, 
#jqt.transition > .current::after {
    display: block;
    z-index: 10;
}

#jqt.modal > .current::after {
	opacity: 1;
}

/* @end group Modal */


/* @group Action Sheet */

#jqt > .actionsheet {
    z-index: 30;
	-webkit-transform: translateY(90%);  
    -webkit-transition: -webkit-transform 375ms linear;
}

#jqt > .actionsheet.shown,
#jqt > .actionsheet.transition {
    display: block;
}

#jqt > .actionsheet.shown:not(.current):not(.in):not(.out),
#jqt > .actionsheet.transition:not(.current):not(.in):not(.out) {
    /* workaround long css in jqt/_base.scss */
    display: block;
}

#jqt > .actionsheet.shown {
    -webkit-transform: translateY(0);  
}

#jqt > .actionsheet {
    height: 100%; min-height: 100%;
    background-color: transparent;
    background-image: none;
}

#jqt > .actionsheet > div.actionchoices {
    position: absolute;
    top: auto; bottom: 0px;
    left: 0px; right: 0px;
    padding-bottom: 10px;
    border-top: 1px solid #333;
    background-color: rgba(0, 0, 0, 0.25);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(160, 168, 172, 0.75)), color-stop(0.08, rgba(112, 120, 128, 0.5)), color-stop(0.08, rgba(96, 102, 114, 0.5)), to(rgba(96, 102, 114, 0.5)));
}

#jqt > div.actionsheet > div.actionchoices > a {
    margin-top: 25px;
}

#jqt > div.actionsheet > div.actionchoices > a.dismiss {
    margin-top: 30px;
}

#jqt > div.actionsheet > div.actionchoices::before {
    display: block;
    position: relative;
    height: 10px;
    content: "";
    border-top: 1px solid #CCC;
    width: 100%;
}
/* @end group Action Sheet */
