body {
    background: rgb(0,0,0);
}

/* @group general */

#jqt > * {
    background: rgb(197,204,211) url(img/pinstripes.png);
}

#jqt h1 {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(76, 86, 108);
    font: bold 13.5pt "Helvetica Neue", Helvetica;
    text-shadow: rgba(255,255,255,.2) 1px 1px 1px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

#jqt h2 {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(76, 86, 108);
    font: bold 12pt "Helvetica Neue", Helvetica;
    text-shadow: rgba(255,255,255,.2) 1px 1px 1px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#jqt h3 {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    font: bold 10pt "Helvetica Neue", Helvetica;
    text-shadow: rgba(63,63,63,1) -0.5pt -0.5pt 1pt, rgba(63,63,63,1) 1pt 1pt 1pt;
    color: rgb(255, 255, 255);
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#jqt h4 {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    font: 8.5pt "Helvetica Neue", Helvetica;
    padding-top: 7px;
    color: grey;
    text-shadow: rgba(255,255,255,1) -1pt -1pt 2pt, rgba(255,255,255,1) 1pt 1pt 1pt;
}

#jqt .left {
    position: absolute;
    top: 5px;
    left: 5px;
}

#jqt .right {
    position: absolute;
    top: 5px;
    right: 5px;
}

#jqt .center {
    position: relative;
    text-align: center;
    width: 100%;
}

/* @end */



/* @group Toolbar */

#jqt .toolbar {
    position: relative;
    -webkit-box-sizing: border-box;
    height: 44px;
    width: 100%;
    padding: 6px 5px 6px 5px;
    border-bottom: 1px solid #2d3642;
    background-image: -moz-linear-gradient(top, #b0bccd, #889bb3 50%, #8195af 50%, #6d84a2);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b0bccd), color-stop(0.5, #889bb3), color-stop(0.5, #8195af), to(#6d84a2));
}

#jqt .toolbar .touch {
    color: #808080;
}

#jqt .toolbar h1 {
    margin-top: 4px;
}

#jqt .black-translucent .toolbar {
	margin-top: 20px;
}

#jqt .toolbar .button, #jqt .toolbar .add,
#jqt .toolbar .actionButton, #jqt .toolbar .done, 
#jqt .toolbar .back, #jqt .toolbar .cancel {
    position: absolute;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    min-width: 30px;
    float: right;
    top: 0px;
    margin: 7px 0px 2px 0px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
    font-family: inherit;
    font-weight: bold;
    font-size: 9pt;
    color: #fff;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
}

#jqt .toolbar .button, #jqt .toolbar .add {
    right: 5px;
    border:1px solid #45505d;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #7d88a5), color-stop(0.5, #5877a2), color-stop(0.5, #476999), color-stop(1, #4a6c9b));
    -webkit-box-shadow:inset 0 1px 1px rgba(127, 127, 127, .25), 0 1px 0 rgba(255, 255, 255, 0.25);
    -webkit-border-radius:6px;
}

#jqt .toolbar .actionButton, #jqt .toolbar .done {
    right: 5px;
    border:1px solid #55606d;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #77A2F8), color-stop(0.5, #225FDA), color-stop(0.5, #1F55C3), color-stop(1, #1F57C6));
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, 0.25);
    -webkit-border-radius:6px;
}

#jqt .toolbar .button.active, #jqt .toolbar .add.active,
#jqt .toolbar .actionButton.active, #jqt .toolbar .done.active {
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #7d88a5), c
        olor-stop(0.5, #3a4e78), color-stop(0.5, #273f6d), color-stop(1, #273f6d));
    color: #ddd;
}

#jqt .toolbar .back, #jqt .toolbar .cancel {
    left: 6px;
    right: auto;
    max-width: 95px;
    border-width: 0 8px 0 14px;
    -webkit-border-image: url(img/backButton.png) 0 8 0 14;
}

#jqt .toolbar .back.active, #jqt .toolbar .cancel.active {
    -webkit-border-image: url(img/backButton_clicked.png) 0 8 0 14;
    color: #ddd;
}

#jqt .buttonicon {
  min-width: 20px;
  min-height: 20px;
}

@media only screen and (max-device-width: 320px) and (orientation:landscape) {
  #jqt .toolbar {
      padding: 2px 5px 2px 5px;
      height: 32px;
  }
  
  #jqt .toolbar h1 {
      margin-top: 1px;
  }
  
  #jqt .toolbar > h1 {
      margin-left: auto;
      width: 250px;
  }
  
  #jqt .toolbar .button, #jqt .toolbar .actionButton, #jqt .toolbar .back, 
  #jqt .toolbar .cancel, #jqt .toolbar .add, #jqt .toolbar .done {
      height: 24px;
      line-height: 24px;
      margin: 4px 0px 2px 0px;
      font-size: 8.5pt;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 12px;
      padding-right: 12px;
  }
}

/* @end */



/* @group Tabbar */

#jqt .tabbar {
    position: relative;
    -webkit-box-sizing: border-box;
    height: 44px;
    line-height: 30px;
    width: 100%;
    bottom: 0px;
    margin: 0;
    padding: 6px 5px 6px 5px;
    border-top: 1px solid #2d3642;
    border-bottom: none;
    background-image: -moz-linear-gradient(top, #b0bccd, #889bb3 50%, #8195af 50%, #6d84a2);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b0bccd), color-stop(0.5, #889bb3), color-stop(0.5, #8195af), to(#6d84a2));
}

#jqt .tabbar .button {
    overflow: hidden;
    -webkit-box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    width: 30px;
    /* bottom: 4px; */
    margin: 2px 0px 7px 0px;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: inherit;
    font-weight: bold;
    font-size: 9pt;
    color: #fff;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
}

#jqt .tabbar .button {
    border:1px solid #45505d;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #7d88a5), color-stop(0.5, #5877a2), color-stop(0.5, #476999), color-stop(1, #4a6c9b));
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, 0.25);
    -webkit-border-radius:6px;
}

#jqt .tabbar .redbadge {
    position: relative;
    min-width: 16px;
    width: 16px;
    min-height: 16px;
    /*
    top: 0px;
    margin-left: 62%;
    margin-right: 35%;
     */
    padding: 0 4px 0 4px;
    background-color: #C02020;
    /* border: 2pt solid white; */
    font-size: 10pt;
    border-radius: 9pt;
    border: 2pt solid white;
    color: white;
    font-weight: bold;
    text-shadow: none;
    background-image: -webkit-gradient(radial, 50% -130%, 25, 50% 0, 54, from(rgba(255,255,255,0.3)), to(rgba(255,255,255,0.1)), 
      color-stop(2%, rgba(255,255,255,0.3)),
      color-stop(4%, rgba(31,31,31,0.1)),
      color-stop(38%, rgba(239,239,239,0.1)));
    text-align: center;
}

#jqt .tabbar .touch {
    color: #808080;
}

#jqt .tabbar .button.active {
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #7d88a5), color-stop(0.5, #3a4e78), color-stop(0.5, #273f6d), color-stop(1, #273f6d));
    color: #ddd;
}

#jqt .tabbar h3 {
    padding-top: 4px;
}

@media only screen and (max-device-width: 320px) and (orientation:landscape) {
  #jqt .tabbar {
      padding: 2px 5px 2px 5px;
      height: 32px;
  }
  
  #jqt .tabbar h3 {
      padding-top: 1px;
  }
  
  #jqt .tabbar .button {
      height: 24px;
      line-height: 24px;
      margin: 2px 0px 2px 0px;
      font-size: 8.5pt;
      padding-top: 1x;
      padding-bottom: 1px;
      padding-left: 12px;
      padding-right: 12px;
  }
  
  #jqt .left {
      top: 2px;
      left: 5px;
  }
  
  #jqt .right {
      top: 2px;
      right: 5px;
  }
}

/* @end */



/* @group Gridview */

#jqt .grid {
}

#jqt .grid .row { 
    margin-top: 100px;
    margin-left: 0px;
}

#jqt .grid .row:first-child {
    margin-top: 10px;
}

#jqt .grid .row .item {
    position: relative; 
    float:left;
    margin:9px 11px; 
}

#jqt .grid .row h3 {
    position: relative; 
    margin-left:5px;
    color: grey;
    text-shadow: -0.5pt -0.5pt 1.5pt white;
}

#jqt .grid .row .item .badge {
    position: absolute;
    font-size: 8.5pt;
    min-width: 1.2em;
    height: 1.2em;
    border-radius: 1.2em;
    text-align: center;
    top: -6px;
    right: -7px;
    padding: 1px 2px 2px 2px;
    vertical-align: 50%;
    background-color: #303080;
    border: 2pt solid white;
    color: white;
    font-weight: bold;
    background-image: -webkit-gradient(radial, 50% -130%, 24, 50% 0, 54, from(rgba(255,255,255,0.3)), to(rgba(255,255,255,0.1)), 
      color-stop(4%, rgba(255,255,255,0.3)),
      color-stop(8%, rgba(31,31,31,0.1)),
      color-stop(38%, rgba(239,239,239,0.1)));
}

#jqt .grid .row .item .redbadge {
    position: absolute;
    font-size: 10pt;
    min-width: 1.2em;
    height: 1.2em;
    border-radius: 1.2em;
    text-align: center;
    bottom: 14px;
    right: -7px;
    padding: 1px;
    background-color: #C02020;
    border: 2pt solid white;
    color: white;
    font-weight: bold;
    -webkit-box-shadow: rgba(0,0,0,0.5) 1pt 1pt 3pt;
    background-image: -webkit-gradient(radial, 50% -130%, 28, 50% 0, 56, from(rgba(255,255,255,0.3)), to(rgba(255,255,255,0.1)), 
      color-stop(4%, rgba(255,255,255,0.3)),
      color-stop(8%, rgba(31,31,31,0.1)),
      color-stop(38%, rgba(239,239,239,0.1)));
}

#jqt .grid .row .item .icon .mask {
    width: 57px;
    height: 57px;
    -webkit-border-radius: 8.5px;
    background-image: -webkit-gradient(radial, 28 -100, 95, 28 -50, 200, from(rgba(255,255,255,0.6)), to(rgba(255,255,255,0)), 
      color-stop(6%, rgba(255,255,255,0.3)),
      color-stop(22%, rgba(239,239,239,0)),
      color-stop(22%, rgba(31,31,31,0.2)),
      color-stop(35%, rgba(127,127,127,0.1)),
      color-stop(38%, rgba(239,239,239,0.1)));
}

#jqt .grid .row .item .icon {
    width: 57px;
    height: 57px;
    background-color: #707090;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 2pt 2pt 4pt;
}

#jqt .grid .row .item .ico_txt {
    text-align:center;
    font-weight: bold;
    font-size: 8pt; 
    color: #FFFFFF; 
    text-shadow: 1pt 1pt 1.5pt #000, 0pt 0pt 1pt #808080;
    padding-top: 3pt;
    
}

/* @end */



/* @group Button */

#jqt .whiteButton,
#jqt .grayButton, #jqt .redButton, #jqt .blueButton, #jqt .greenButton {
    display: block;
    border-width: 0 12px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: inherit;
    color: inherit;
}

#jqt .whiteButton.active, #jqt .grayButton.active, #jqt .redButton.active, #jqt .blueButton.active, #jqt .greenButton.active,
#jqt .whiteButton:active, #jqt .grayButton:active, #jqt .redButton:active, #jqt .blueButton:active, #jqt .greenButton:active {
    -webkit-border-image: url(img/activeButton.png) 0 12 0 12;
}

#jqt .whiteButton {
    -webkit-border-image: url(img/whiteButton.png) 0 12 0 12;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}

#jqt .grayButton {
    -webkit-border-image: url(img/grayButton.png) 0 12 0 12;
    color: #FFFFFF;
}

#jqt .redButton {
    -webkit-border-image: url(img/redButton.png) 0 12 0 12;
    color: #FFFFFF;
}

#jqt .greenButton {
    -webkit-border-image: url(img/greenButton.png) 0 12 0 12;
    color: #FFFFFF;
}

/* @end */



/* @group Lists */

#jqt h1 + ul, #jqt h2 + ul, #jqt h3 + ul, #jqt h4 + ul, #jqt h5 + ul, #jqt h6 + ul {
    margin-top: 0;
}

#jqt ul {
    color: black;
    background: #fff;
    border: 1px solid #B4B4B4;
    font: bold 17px "Helvetica Neue", Helvetica;
    padding: 0;
    margin: 15px 10px 17px 10px;
    -webkit-border-radius: 8px;
}

#jqt ul li {
    color: #666;
    border-top: 1px solid #B4B4B4;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
}

/* when you have a first LI item on any list */

#jqt li:first-child, #jqt li:first-child a {
    border-top: 0;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

#jqt li:last-child, #jqt li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

/* universal arrows */

#jqt ul li.arrow {
    background-image: url(img/chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
}

#jqt ul li.arrow a { 
	padding: 12px 22px 12px 10px;
}

#jqt #plastic ul li.arrow, #jqt #metal ul li.arrow {
    background-image: url(img/chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
}

/* universal links on list */

#jqt ul li a, #jqt li.img a + a {
    color: #000;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 12px 10px 12px 10px;
    margin: -10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#jqt ul li a.active {
    background-color: #194fdb;
    color: #fff;
}

#jqt ul li.arrow a.active {
    background-image: url(img/listArrowSel.png);
    background-position: right center;
    background-repeat: no-repeat;
}

#jqt ul li a.button {
    background-color: #194fdb;
    color: #fff;
}

#jqt ul li.img a + a {
    margin: -10px 10px -20px -5px;
    font-size: 17px;
    font-weight: bold;
}

#jqt ul li.img a + a + a {
    font-size: 14px;
    font-weight: normal;
    margin-left: -10px;
    margin-bottom: -10px;
    margin-top: 0;
}

#jqt ul li.img a + small + a {
    margin-left: -5px;
}

#jqt ul li.img a + small + a + a {
    margin-left: -10px;
    margin-top: -20px;
    margin-bottom: -10px;
    font-size: 14px;
    font-weight: normal;
}

#jqt ul li.img a + small + a + a + a {
    margin-left: 0px !important;
    margin-bottom: 0;
}

#jqt ul li a + a {
    color: #000;
    font: 14px "Helvetica Neue", Helvetica;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

#jqt ul li a + a + a, #jqt ul li.img a + a + a + a, #jqt ul li.img a + small + a + a + a {
    color: #666;
    font: 13px "Helvetica Neue", Helvetica;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 0;
}

/* @end */



/* @group Forms */

#jqt ul.form li {
    padding: 7px 10px;
}

#jqt ul li .name {
    width: auto;
    color: 0;
    font-weight: bold;
    font-size: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    right: 0;
}

#jqt ul.form li.error {
    border: 2px solid red;
}

#jqt ul.form li.error + li.error {
    border-top: 0;
}

#jqt ul.form li:hover {
    background: #fff;
}

#jqt ul li input[type="text"],
#jqt ul li input[type="password"],
#jqt ul li input[type="tel"],
#jqt ul li input[type="number"],
#jqt ul li input[type="search"],
#jqt ul li input[type="email"],
#jqt ul li input[type="url"],
#jqt ul li textarea,
#jqt ul li select {
    color: #777;
    background: #fff url('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');
    border: 0;
    font: normal 17px "Helvetica Neue", Helvetica;
    padding: 0;
    display: inline-block;
    margin-left: 0px;
    width: 100%;
    -webkit-appearance: textarea;
}

#jqt ul li .name + input[type="text"],
#jqt ul li .name + input[type="password"],
#jqt ul li .name + input[type="tel"],
#jqt ul li .name + input[type="number"],
#jqt ul li .name + input[type="search"],
#jqt ul li .name + input[type="email"],
#jqt ul li .name + input[type="url"],
#jqt ul li .name + textarea,
#jqt ul li .name + select {
    max-width: 170px;
    margin-left: 10px;
}


#jqt ul li textarea {
    height: 120px;
    padding: 0;
    text-indent: -2px;
}

#jqt ul li select {
    text-indent: 0px;
    background: transparent url(img/chevron.png) no-repeat 103% 3px;
    -webkit-appearance: textfield;
    margin-left: -6px;
    width: 104%;
}

#jqt ul li input[type="checkbox"], #jqt ul li input[type="radio"] {
    margin: 0;
    color: rgb(50,79,133);
    padding: 10px 10px;
}

#jqt ul li input[type="checkbox"]:after, #jqt ul li input[type="radio"]:after {
    content: attr(title);
    font: 17px "Helvetica Neue", Helvetica;
    display: block;
    width: 246px;
    margin: -12px 0 0 17px;
}

/* @end */



/* @group Edge to edge */
#jqt ul.edgetoedge, #jqt ul.edgetoedge * {
    -webkit-border-radius: 0 !important;
}
	
#jqt ul.edgetoedge li.sep {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(139, 159, 171, 1)), to(rgba(181, 193, 201, 1.0)));
    border-bottom: 1px solid #b5c1c9;
    border-top: 1px solid #b5c1c9;
    color: #fff;
    font-size: 16px;
    margin: 1px 0 0 0;
    padding: 2px 10px;
    text-shadow: #636a6f 0 1px 0;
}

#jqt .edgetoedge h4 {
    color: #fff;
    background: rgb(154,159,170) url(img/listGroup.png) top left repeat-x;
    border-top: 1px solid rgb(165,177,186);
    text-shadow: #666 0 1px 0;
    margin: 0;
    padding: 2px 10px;
}

#jqt .edgetoedge, #jqt .metal {
    margin: 0;
    padding: 0;
    background-color: rgb(255,255,255);
}

#jqt .edgetoedge ul, #jqt .metal ul, #jqt .plastic ul {
    -webkit-border-radius: 0;
    margin: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

#jqt .metal ul {
    border-top: 0;
    border-bottom: 0;
    background: rgb(180,180,180);
}

#jqt .edgetoedge ul li:first-child,
#jqt .edgetoedge ul li:first-child a,
#jqt .edgetoedge ul li:last-child,
#jqt .edgetoedge ul li:last-child a,
#jqt .metal ul li:first-child a,
#jqt .metal ul li:last-child a {
    -webkit-border-radius: 0;
}

#jqt .edgetoedge ul li small {
    font-size: 16px;
    line-height: 28px;
}

#jqt .edgetoedge li, #jqt .metal li {
    -webkit-border-radius: 0;
}

#jqt .edgetoedge li em {
    font-weight: normal;
    font-style: normal;
}

#jqt .edgetoedge h4 + ul {
    border-top: 1px solid rgb(152,158,164);
    border-bottom: 1px solid rgb(113,125,133);
}

/* @end */



/* @group Mini Label */

#jqt ul li small {
    color: #369;
    font: 17px "Helvetica Neue", Helvetica;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 23%;
    float: right;
    padding: 3px 0px;
}

#jqt ul li.arrow small {
    padding: 0 15px;
}

#jqt ul li small.counter {
    font-size: 17px !important;
    line-height: 13px !important;
    font-weight: bold;
    background: rgb(154,159,170);
    color: #fff;
    -webkit-border-radius: 11px;
    padding: 4px 10px 5px 10px;
    display: inline !important;
    width: auto;
    margin-top: -22px;
}

#jqt ul li.arrow small.counter {
    margin-right: 15px;
}

/* @end */



/* @group Plastic */

#jqt #plastic ul li.arrow, #jqt #metal ul li.arrow {
    background-image: url(img/chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
}

#jqt .edgetoedge ul, #jqt .metal ul, #jqt .plastic ul {
    -webkit-border-radius: 0;
    margin: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

#jqt .metal ul li {
    border-top: 1px solid rgb(238,238,238);
    border-bottom: 1px solid rgb(156,158,165);
    font-size: 26px;
    text-shadow: #fff 0 1px 0;
}

#jqt .metal ul li a {
    line-height: 26px;
    margin: 0;
    padding: 13px 0;
}

#jqt .metal ul li a:hover {
    color: rgb(0,0,0);
}

#jqt .metal ul li:hover small {
    color: inherit;
}

#jqt .metal ul li a em {
    display: block;
    font-size: 14px;
    font-style: normal;
    color: #444;
    width: 50%;
    line-height: 14px;
}

#jqt .metal ul li small {
    float: right;
    position: relative;
    margin-top: 10px;
    font-weight: bold;
}

#jqt .metal ul li.arrow a small {
    padding-right: 0;
    line-height: 17px;
}

#jqt .metal ul li.arrow {
    background:  url(img/chevron.png) right center no-repeat;
}

#jqt .plastic {
    margin: 0;
    padding: 0;
    background: rgb(173,173,173);
}

#jqt .plastic ul {
    -webkit-border-radius: 0;
    margin: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: rgb(173,173,173);
}

#jqt .plastic ul li {
    -webkit-border-radius: 0;
    border-top: 1px solid rgb(191,191,191);
    border-bottom: 1px solid rgb(157,157,157);
}

#jqt .plastic ul li:nth-child(odd) {
    background-color: rgb(152,152,152);
    border-top: 1px solid rgb(181,181,181);
    border-bottom: 1px solid rgb(138,138,138);
}

#jqt .plastic ul + p {
    font-size: 11px;
    color: #2f3237;
    text-shadow: none;
    padding: 10px 10px;
}

#jqt .plastic ul + p strong {
    font-size: 14px;
    line-height: 18px;
    text-shadow: #fff 0 1px 0;
}

#jqt .plastic ul li a {
    text-shadow: rgb(211,211,211) 0 1px 0;
}

#jqt .plastic ul li:nth-child(odd) a {
    text-shadow: rgb(191,191,191) 0 1px 0;
}

#jqt .plastic ul li small {
    color: #3C3C3C;
    text-shadow: rgb(211,211,211) 0 1px 0;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
}

#jqt #plastic ul.minibanner, #jqt #plastic ul.bigbanner {
    margin: 10px;
    border: 0;
    height: 81px;
    clear: both;
}

#jqt #plastic ul.bigbanner {
    height: 140px !important;
}

#jqt #plastic ul.minibanner li {
    border: 1px solid rgb(138,138,138);
    background-color: rgb(152,152,152);
    width: 145px;
    height: 81px;
    float: left;
    -webkit-border-radius: 5px;
    padding: 0;
}

#jqt #plastic ul.bigbanner li {
    border: 1px solid rgb(138,138,138);
    background-color: rgb(152,152,152);
    width: 296px;
    height: 140px;
    float: left;
    -webkit-border-radius: 5px;
    padding: 0;
    margin-bottom: 4px;
}

#jqt #plastic ul.minibanner li:first-child {
    margin-right: 6px;
}

#jqt #plastic ul.minibanner li a {
    color: transparent;
    text-shadow: none;
    display: block;
    width: 145px;
    height: 81px;
}

#jqt #plastic ul.bigbanner li a {
    color: transparent;
    text-shadow: none;
    display: block;
    width: 296px;
    height: 145px;
}

/* @end */



/* @group Individual */

#jqt ul.individual {
    border: 0;
    background: none;
    clear: both;
    overflow: hidden;
}

#jqt ul.individual li {
    color: rgb(183,190,205);
    background: white;
    border: 1px solid rgb(180,180,180);
    font-size: 14px;
    text-align: center;
    -webkit-border-radius: 8px;
    -webkit-box-sizing: border-box;
    width: 48%;
    float: left;
    display: block;
    padding: 11px 10px 14px 10px;
}

#jqt ul.individual li + li {
    float: right;
}

#jqt ul.individual li a {
    color: rgb(50,79,133);
    line-height: 16px;
    margin: -11px -10px -14px -10px;
    padding: 11px 10px 14px 10px;
    -webkit-border-radius: 8px;
}

#jqt ul.individual li a:hover {
    color: #fff;
    background: #36c;
}

/* @end */



/* @group Toggle */

#jqt .toggle {
    width: 94px;
    position: relative;
    height: 27px;
    display: block;
    overflow: hidden;
    float: right;
}

#jqt .toggle input[type="checkbox"]:checked {
    left: 0px;
}

#jqt .toggle input[type="checkbox"] {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    -webkit-border-radius: 5px;
    background: #fff url(img/on_off.png) 0 0 no-repeat;
    height: 27px;
    overflow: hidden;
    width: 149px;
    border: 0;
    -webkit-appearance: textarea;
    background-color: transparent;
    -webkit-transition: left .15s;
    position: absolute;
    top: 0;
    left: -55px;
}

/* @end */

#jqt .info {
    background: #dce1eb;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-shadow: rgba(255,255,255,.8) 0 1px 0;
    color: rgb(76, 86, 108);
    padding: 15px;
    border-top: 1px solid rgba(76, 86, 108, .3);
    font-weight: bold;
}

input[type='submit'] {
    -webkit-border-radius: 4px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(238,238,238,1)), to(rgba(156,158,160,1)));
    border: 1px outset #aaa;
    display: block;
    font-size: inherit;
    font-weight: inherit;
    padding: 10px;
}
