@import 'compass/css3';

body {
    background: #000;
    color: #ddd;
}

#jqt {
    & > * {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#5e5e65));
    }
    
    h1, h2 {
        font: bold 18px "Helvetica Neue", Helvetica;
        text-shadow: rgba(255,255,255,.2) 0 1px 1px;
        color: #000;
        margin: 10px 20px 5px;
    }

    .toolbar {
        @include box-sizing(border-box);
        border-bottom: 1px solid #000;
        padding: 10px;
        height: 45px;
        position: relative;

        & > h1 {
            position: absolute;
            overflow: hidden;
            left: 50%;
            top: 10px;
            line-height: 1em;
            margin: 1px 0 0 -75px;
            height: 40px;
            font-size: 20px;
            width: 150px;
            font-weight: bold;
            text-shadow: rgba(0,0,0,1) 0 -1px 1px;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #fff;
        }
    }
    &.landscape .toolbar > h1 {
        margin-left: -125px;
        width: 250px;
    }

    .black-translucent .toolbar {
        margin-top: 20px;
    }

    .button, .back, .cancel, .add {
        position: absolute;
        overflow: hidden;
        top: 8px;
        right: 10px;
        margin: 0;
        border-width: 0 5px;
        padding: 0 3px;
        width: auto;
        height: 30px;
        line-height: 30px;
        font-family: inherit;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
        text-overflow: ellipsis;
        text-decoration: none;
        white-space: nowrap;
        background: none;
        -webkit-border-image: url(img/button.png) 0 5 0 5;
    }

    .button.active, .cancel.active, .add.active {
        -webkit-border-image: url(img/button_clicked.png) 0 5 0 5;
    }

    .back {
        left: 6px;
        right: auto;
        padding: 0;
        max-width: 55px;
        border-width: 0 8px 0 14px;
        -webkit-border-image: url(img/back_button.png) 0 8 0 14;

        &.active {
            -webkit-border-image: url(img/back_button_clicked.png) 0 8 0 14;
        }
    }

    .blueButton {
        -webkit-border-image: url(img/blueButton.png) 0 5 0 5;
        border-width: 0 5px;
    }

    .leftButton, .cancel {
        left: 6px;
        right: auto;
    }

    .add {
        font-size: 24px;
        line-height: 24px;
        font-weight: bold;
    }

    .whiteButton, .grayButton, .redButton, .blueButton, .greenButton {
        border-width: 0 12px;
        color: #fff;
        display: block;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        text-decoration: inherit;
        text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;

        &.active, &:active {
            -webkit-border-image: url(img/activeButton.png) 0 12 0 12;
            color: #000 !important;
        }
    }

    .whiteButton {
        -webkit-border-image: url(img/whiteButton.png) 0 12 0 12;
    }
    .grayButton {
        -webkit-border-image: url(img/grayButton.png) 0 12 0 12;
        color: #fff;
    }

    .redButton {
        -webkit-border-image: url(img/redButton.png) 0 12 0 12;
    }

    .greenButton {
        -webkit-border-image: url(img/greenButton.png) 0 12 0 12;
    }


    /* Lists */
    h1, h2, h3, h4, h5, h6 {
        ul {
            margin-top: 0;
        }
    }

    ul {
        color: #aaa;
        border: 1px solid #333333;
        font: bold 18px "Helvetica Neue", Helvetica;
        padding: 0;
        margin: 15px 10px 17px 10px;

        li {
            color: #666;
            border-top: 1px solid #333;
            border-bottom: #555858;
            list-style-type: none;
            padding: 10px 10px 10px 10px;
            background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
            overflow: hidden;

            
            a + a, a + a + a, ul li.img a + a + a + a, ul li.img a + small + a + a + a {
                color: #666;
                font: 13px "Helvetica Neue", Helvetica;
                margin: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: block;
                padding: 0;
            }
            
             a + a {
                color: #000;
                font-size: 14px;
            }
            
            a, &.img a + a {
                color: #fff;
                text-decoration: none;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: block;
                padding: 12px 10px 12px 10px;
                margin: -10px;
                text-shadow: rgba(0,0,0,.2) 0 1px 1px;
            }
            
            a.active, a.button {
                background-color: #53b401;
                color: #fff;
            }
            
            &.forward {
                background-image: url(img/chevron_circle.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
                background-position: right center;
                background-repeat: no-repeat;
                
                a.active {
                    background-image: url(img/chevron_circle.png);
                    background-position: right center;
                    background-repeat: no-repeat;
                }
                
            }

            &.arrow {
                background-color: #4c4d4e !important;
                background-image: url(img/chevron.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
                background-position: right center !important;
                background-repeat: no-repeat !important;

                a {
                    padding: 12px 22px 12px 10px;
                    
                    &.active {
                        background-image: url(img/chevron.png);
                        background-position: right center;
                        background-repeat: no-repeat;
                    }
                }
            }
            
            a.active.loading {
                background-image: url(img/loading.gif);
                background-position: 95% center;
                background-repeat: no-repeat;
            }
        }

        &.rounded {
            @include border-radius(8px);
            -webkit-box-shadow: rgba(0,0,0,.3) 1px 1px 3px;

            li:first-child, li:first-child a {
                border-top: 0;
                @include border-top-radius(8px);
            }
            li:last-child, li:last-child a {
                @include border-bottom-radius(8px);
            }
        }
        
        &.form {
            li {
                padding: 7px 10px;
                
                &.error {
                    border: 2px solid red;
                }
                &.error + &.error {
                    border-top: 0;
                }
                input[type="text"], input[type="password"], input[type="tel"], input[type="number"], input[type="search"], input[type="email"], input[type="url"], textarea, select {
                    color: #777;
                    background: transparent url('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');
                    border: 0;
                    font: normal 17px "Helvetica Neue", Helvetica;
                    padding: 0;
                    display: inline-block;
                    margin-left: 0px;
                    width: 100%;
                    -webkit-appearance: textarea;
                }
                textarea {
                    height: 120px;
                    padding: 0;
                    text-indent: -2px;
                }
                select {
                    text-indent: 0px;
                    background: transparent url(img/chevron.png) no-repeat right center;
                    -webkit-appearance: textfield;
                    margin-left: -6px;
                    width: 104%;
                }
                input[type="checkbox"], input[type="radio"] {
                    margin: 0;
                    padding: 10px 10px;
                }
                input[type="checkbox"]:after, input[type="radio"]:after {
                    content: attr(title);
                    font: 17px "Helvetica Neue", Helvetica;
                    display: block;
                    width: 246px;
                    color: #777;
                    margin: -12px 0 0 17px;
                }
            }

            #jqt.android ul li input[type="checkbox"]:after, #jqt.android ul li input[type="radio"]:after {
                margin: 3px 0 0 24px;
            }
            /* @end */
            /* @group Mini Label */
            li small {
                color: #64c114;
                font: 17px "Helvetica Neue", Helvetica;
                text-align: right;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: block;
                width: 23%;
                float: right;
                padding: 0;
            }
            li.arrow small {
                padding: 0 15px;
            }
            li small.counter {
                font-size: 17px;
                line-height: 13px;
                font-weight: bold;
                background: rgba(0,0,0,.15);
                color: #fff;
                -webkit-border-radius: 11px;
                padding: 4px 10px 5px 10px;
                display: block;
                width: auto;
                margin-top: -22px;
                -webkit-box-shadow: rgba(255,255,255,.1) 0 1px 0;
            }
            li.arrow small.counter {
                margin-right: 15px;
            }
            /* @end */
            /* @group Individual */
            #jqt ul.individual {
                border: 0;
                background: none;
                clear: both;
                overflow: hidden;
                padding-bottom: 3px;
                -webkit-box-shadow: none;
            }
            #jqt ul.individual li {
                background: #4c4d4e;
                border: 1px solid #333;
                font-size: 14px;
                text-align: center;
                -webkit-border-radius: 8px;
                -webkit-box-sizing: border-box;
                width: 48%;
                float: left;
                display: block;
                padding: 11px 10px 14px 10px;
                -webkit-box-shadow: rgba(0,0,0,.2) 1px 1px 3px;
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
            }
            #jqt ul.individual li + li {
                float: right;
            }
            #jqt ul.individual li a {
                color: #fff;
                line-height: 16px;
                margin: -11px -10px -14px -10px;
                padding: 11px 10px 14px 10px;
                -webkit-border-radius: 8px;
            }
            /* @end */
            /* @group Toggle */
            #jqt .toggle {
                width: 94px;
                position: relative;
                height: 27px;
                display: block;
                overflow: hidden;
                float: right;
            }
            #jqt .toggle input[type="checkbox"]:checked {
                background-position: 0 0;
            }
            #jqt .toggle input[type="checkbox"] {
                -webkit-appearance: textarea;
                -webkit-border-radius: 5px;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                -webkit-transition: background-position .15s;
                background-color: transparent;
                background: #fff url(img/on_off.png) -55px 0 no-repeat;
                border: 0;
                height: 27px;
                margin: 0;
                overflow: hidden;
                position: absolute;
                width: 94px;
            }

            input[type='submit'] {
                -webkit-border-radius: 4px;
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(238,238,238,1)), to(rgba(156,158,160,1)));
                border: 1px outset black;
                display: block;
                font-size: inherit;
                font-weight: inherit;
                padding: 10px;
            }
        }
        
        &.metal {
            border-bottom: 0;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            margin: 0;

            li {
                background-image: none;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #666;
                font-size: 26px;
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(238,238,238,1)), to(rgba(156,158,160,1)));

                a {
                    line-height: 26px;
                    margin: 0;
                    text-shadow: #fff 0 1px 0;
                    padding: 13px 0;

                    &.active {
                        color: #000;
                    }
                }

                em {
                    display: block;
                    font-size: 14px;
                    font-style: normal;
                    color: #444;
                    width: 50%;
                    line-height: 14px;
                }

                small {
                    float: right;
                    position: relative;
                    margin-top: 10px;
                    font-weight: bold;
                }

                &.arrow {
                    background-position: right center;
                    background-repeat: no-repeat;
                    background-image: url(img/chevron.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(238,238,238,1)), to(rgba(156,158,160,1)));

                    a small {
                        padding-right: 15px;
                        line-height: 17px;
                    }
                }
            }
        }
        
        &.edgetoedge {
            border-width: 1px 0;
            margin: 0;
            padding: 0;
            
            li {
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1e1f21), to(#272729));
                border-bottom: 2px solid #000;
                border-top: 1px solid #4a4b4d;
                font-size: 20px;
                margin-bottom: -1px;
                
                &.arrow {
                    background-color: #404142 !important;
                    background-image: url(img/chevron.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1e1f21), to(#272729));
                    background-position: right center;
                    background-repeat: no-repeat;
                }
                
                &.sep {
                    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,.5)));
                    border-bottom: 1px solid #111113;
                    border-top: 1px solid #666;
                    color: #3e9ac3;
                    font-size: 16px;
                    margin: 1px 0 0 0;
                    padding: 2px 10px;
                    text-shadow: #000 0 1px 0;
                }
            }
            
            li em {
                font-weight: normal;
                font-style: normal;
            }
        }
        
        &.plastic {
            background: #17181a;
            color: #aaa;
            font: bold 18px "Helvetica Neue", Helvetica;
            margin: 0;
            padding: 0;
            border-width: 0 0 1px 0;
            
            li {
                border-width: 1px 0;
                border-style: solid;
                border-top-color: #222;
                border-bottom-color: #000;
                color: #666;
                list-style-type: none;
                overflow: hidden;
                padding: 10px 10px 10px 10px;
                
                a.active.loading {
                    background-image: url(img/loading.gif);
                    background-position: 95% center;
                    background-repeat: no-repeat;
                }
                small {
                    color: #888;
                    font-size: 13px;
                    font-weight: bold;
                    line-height: 24px;
                    text-transform: uppercase;
                }
                &:nth-child(odd) {
                    background-color: #1c1c1f;
                }
                &.arrow, &.arrow a.active {
                    background-image: url(img/chevron.png);
                    background-position: right center;
                    background-repeat: no-repeat;
                }
                &.forward, &.forward a.active {
                    background-image: url(img/chevron_circle.png);
                    background-position: right center;
                    background-repeat: no-repeat;
                }
            }
        }
        
        /* Rows with image thumbnail */
        &.img a {
            & + a {
                margin: -10px 10px -20px -5px;
                font-size: 17px;
                font-weight: bold;
                
                & + a {
                    font-size: 14px;
                    font-weight: normal;
                    margin-left: -10px;
                    margin-bottom: -10px;
                    margin-top: 0;
                }
            }
            
            & + small + a {
                margin-left: -5px;
                
                & + a {
                    margin-left: -10px;
                    margin-top: -20px;
                    margin-bottom: -10px;
                    font-size: 14px;
                    font-weight: normal;
                    
                    & + a {
                        margin-left: 0px !important;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    
    .info {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#aaa), color-stop(.6,#CCCCCC));
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        text-shadow: rgba(255,255,255,.8) 0 1px 0;
        color: #444;
        padding: 15px;
        border-top: 1px solid rgba(255,255,255,.2);
        font-weight: bold;
    }
}