/* @group tabbar */
/*
Status Bar:20px
Navigation Bar:44px
Tab Bar:49px

Height between a navigation bar and tab bar
Profile:367px (480 - 20 - 44 - 49)
Landscape:207px (320 - 20 - 44 - 49)
*/

#tabbar {
-webkit-box-shadow:0 -0.05em 0 rgba(0,0,0,0.9);
background:-webkit-gradient(linear, left top, left bottom, from(#000), to(#000), color-stop(.01, #000), color-stop(.02, #555), color-stop(.03, #2d2d2d), color-stop(.5, #151515), color-stop(.51, #000));
bottom:0;
display:inline-table;
/*display:none;*/
height:3.0625em !important;
margin:0;
padding:.1em 0;
position:fixed;
width:100%;
z-index:9999;
}

/* Only show tabbar in fullscreen mode */
/*
#tabbar.fullscreen {
display:inline-table;
}
*/

#tabbar table {
width:100%;
}

#tabbar a {
border-radius:.25em;
display:inline-block;
height:2.75em;
margin:0 auto;
min-width:52px;
position:relative;
text-decoration:none;
top:.125em;
vertical-align:middle;
}

#tabbar a.two {width:50%;}
#tabbar a.three {width:33.33%;}
#tabbar a.four {width:25%;}
#tabbar a.five {width:20%;}
#tabbar a.six {width:16.65%;}

#tabbar a > strong {
-webkit-font-smoothing:antialiased;
bottom:0;
color:#787878;
font:bold .6em "Helvetica Neue", Helvetica;
line-height:1.75em;
overflow:hidden;
position:absolute;
text-align:center;
text-overflow:ellipsis;
white-space:nowrap;
width:100%;
}

#tabbar a::after,#tabbar a::before {
-webkit-mask-position:center center;
-webkit-mask-repeat:no-repeat;
content:" ";
left:0;
position:absolute;
right:0;
top:-1em;
}

#tabbar a::before {
background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.6)), to(rgba(255,255,255,.3)));
bottom:0;
z-index:1;
}

#tabbar a::after {
background-color:rgba(0,0,0,.75);
margin-top:-0.1em;
bottom:0;
z-index:0;
}

#tabbar a.enabled {
background-color:rgba(255,255,255,.10);
}

#tabbar a.enabled > strong {
color:#FFF;
}

#tabbar a.enabled::before {
background:-webkit-gradient(linear, 30% 0%, 60% 70%, from(#DDE9F0), color-stop(0.6, #79B2EC), color-stop(0.7, #2E91E5), to(#3FC5F8));
}

#tabbar a.enabled::after {
margin-top:.1em;
}

#tabbar a.about::after,#tabbar a.about::before {
-webkit-mask-image:url('img/jqt.png');
}

#tabbar a.ajax::after,#tabbar a.ajax::before {
-webkit-mask-image:url('img/ajax.png');
}

#tabbar a.animations::after,#tabbar a.animations::before {
-webkit-mask-image:url('img/animation.png');
}

#tabbar a.callbacks::after,#tabbar a.callbacks::before {
-webkit-mask-image:url('img/events.png');
}

#tabbar a.demos::after,#tabbar a.demos::before {
-webkit-mask-image:url('img/demos.png');
}

#tabbar a.extensions::after,#tabbar a.extensions::before {
-webkit-mask-image:url('img/extensions.png');
}

#tabbar a.more::after,#tabbar a.more::before {
-webkit-mask-image:url('img/more.png');
}

#tabbar a.ui::after,#tabbar a.ui::before {
-webkit-mask-image:url('img/iphone.png');
}

#tabbar a.video::after,#tabbar a.video::before {
-webkit-mask-image:url('img/video.png');
}

/* @group badge for tabbar */
#tabbar .badge {
-webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 1.0);
-webkit-border-radius:.8em;
background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0C5C5), to(#DA0812));
background-color:red;
border:.2em solid #fff;
color:#fff;
display:block;
font:bold 11.5px "Helvetica Neue", Helvetica;
height:1.1em;
line-height:1em;
overflow:hidden;
padding:.1em .4em;
position:absolute;
text-align:center;
text-shadow:0px -1px 1px rgba(0, 0, 0, 0.3);
top:-.1em;
vertical-align:middle;
z-index:999;
}

#tabbar .badge.left{
left:auto;
right:55%;
}

#tabbar .badge.right{
left:55%; 
right:auto;
}

/* @end */

/* @group iScroll integration */
.s-scrollwrapper {
  position:relative;  /* On older OS versions "position" and "z-index" must be defined, */
  z-index:1;          /* it seems that recent webkit is less picky and works anyway. */
}  

/* @end */

/* @end */